<table class="table mt-5 rounded ">
    <thead>
        <tr class="head">
    <th>ID</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Specializzazione</th>
    <th>Giorni lavorativi</th>
    </tr>
    </thead>
    
    <tbody>
        <tr  class="body" *ngFor = "let medico of mediciList">
    <td>{{medico.id}}</td>
    <td>{{medico.nome}}</td>
    <td>{{medico.cognome}}</td>
    <td>{{medico.telefono}}</td>
    <td>{{medico.email}}</td>
    <td>{{medico.specializzazione}}</td>
    <td>{{medico.giorniLavorativi}}</td>
    </tr>
    
    </tbody>
    
    
    
    </table>