
<div class="container mt-5">
    <div class="row">
        <div class="col-sm m-1 btn btn-primary" routerLink="/listaPazienti">
          Lista Pazienti
        </div>
        <div class="col-sm m-1 btn btn-primary" routerLink="/listaMedici">
          Lista Medici
        </div>
        <div class="col-sm m-1 btn btn-primary" routerLink="/searchPaziente">
          Cerca Paziente
        </div>
      </div>
    
    <div class="row">
        <div class="col-sm m-1 btn btn-primary" routerLink="/insertPaziente">
          Inserisci nuovo paziente
        </div>
        <div class="col-sm m-1 btn btn-primary" routerLink="/listaMedici">
          Lista Medici
        </div>
        <div class="col-sm m-1 btn btn-primary" routerLink="/searchPaziente">
          Cerca Paziente
        </div>
      </div>
  <div class="container">
</div>

    


