<button class="btn btn-dark m-5" (click)="goBack()">Indietro</button>
<table class="table table-dark rounded ">
    <thead>
    <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Data Nascita</th>
    <th>Codice Fiscale</th>
    <th>Medico</th>
    
    </tr>
    </thead>
    
    <tbody>
    <tr *ngFor = "let paziente of pazientiList">
    <td>{{paziente.id}}</td>
    <td>{{paziente.nome}}</td>
    <td>{{paziente.cognome}}</td>
    <td>{{paziente.telefono}}</td>
    <td>{{paziente.email}}</td>
    <td>{{paziente.dataNascita}}</td>
    <td>{{paziente.codiceFiscale}}</td>
    <td>{{paziente.medico?.nome}}  {{paziente.medico?.cognome}}</td>
    <button class="btn btn-danger">Elimina</button>
    </tr>
    
    </tbody>
    
    
    
    </table>

